* {
    font-family: 'Jua', sans-serif;
}

body {
    padding-bottom: 20px;
  }
  
  .navbar {
    margin-bottom: 20px;
  }

  .nav-link {
    width: max-content;
  }

  body {
    background: #333;
}

#jumbotron {
    text-align: center;
    margin-top: 30px;
}